# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/

# Environment Variables
.env

# Flask Instance
instance/

# SQLite Databases
*.db

# =========================
# Node.js / React
# =========================
node_modules/

# npm logs
npm-debug.log*

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE Files
# =========================
.vscode/
.idea/